<div id="<%= dom_id mii %>">
  <p>
    <strong class="hidden-label">Image:</strong>
    <%= image_tag mii.image %>
  </p>

  <p>
    <strong class="hidden-label">Name:</strong>
    <%= mii.name %>
  </p>

  <p>
    <strong class="hidden-label">Firstname:</strong>
    <%= mii.firstname %>
  </p>

  <p>
    <strong class="hidden-label">Nickname:</strong>
    <%= mii.nickname %>
  </p>

  <p>
    <strong class="hidden-label">Age:</strong>
    <%= mii.age %>
  </p>

  <p>
    <strong class="hidden-label">Keyword:</strong>
    <%= mii.keyword %>
  </p>

  <p>
    <strong class="hidden-label">Slogan:</strong>
    <%= mii.slogan %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mii.description %>
  </p>
    
</div>
