<p style="color: green"><%= notice %></p>


<h1 class="titre_accueil text-center">Bienvenue sur Mmii !</h1>

<div id="miis" class="cards_gallery row row-cols-1 row-cols-md-4">
  <% @miis.each do |mii| %>
    <div class="col mb-4">
    <div class="card h-100">
      <img src="<%= mii.image %>" class="card-img-top" alt="Photo de <%= mii.firstname %> <%= mii.name %> ">
        <div class="card-body">
          <h5 class="card-title"><%= mii.firstname %> <%= mii.name %></h5>
          <%= link_to "Voir ce MMii", mii_path(mii), class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class ="cards_mii">
<%= link_to "Créer un MMii", new_mii_path, class: "btn" %>
</div>
