<!DOCTYPE html>
<html>
  <head>
    <title>Mmii</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to "MMii", root_path, class: "navbar-brand"%>
      <form class="d-flex mx-auto" role="search" action="<%= miis_path %>" method="get">
        <input class="form-control" type="search" name="term" placeholder="Tapez un Nom">
        <button class="recherche" type="submit">Rechercher</button>
      </form>
      <%= link_to "Créer un Mmii", new_mii_path, class: "btn btn_create align-self-center"%>
    </div>
  </nav>
  </header>
  
  <body>

    <%= yield %>
  </body>
</html>
