<!DOCTYPE html>
<html>
  <head>
    <title>Mmii</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<header>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "MMii", root_path, class: "navbar-brand" %>
    <form class="d-flex" role="search">
      <input class="form-control" type="search" placeholder="Search" >
    </form>
    <button>Créer un MMii</button>
  </div>
</nav>
</header>
    <%= yield %>
  </body>
</html>
